#quote-box {
    width: 50vw;
  }

#quote-box {
}
.quote {
    font-size: 18px;
    text-align: justify;
    animation: 2s fade-in;
}

.author {
    text-align: right;
}

.newQuote {
    font-size: 24px;
}

#tweet-quote {
    background-color: rgb(0, 225, 255);
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    margin:10px;
    text-decoration: none;
}

.number{
    display: flex;
    font-size: 14px;
    text-align: center;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}